#spark Dataframe Basics

In [36]:
from pyspark.sql import SparkSession

In [37]:
spark=SparkSession.builder\
        .appName("basics")\
        .getOrCreate()
spark

In [38]:
df_basic=spark.read.json("people.json")

In [39]:
df_basic.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [40]:
df_basic.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [41]:
df_basic.columns

['age', 'name']

In [42]:
df_basic.describe()

DataFrame[summary: string, age: string, name: string]

In [43]:
df_basic.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   NULL|
| stddev|7.7781745930520225|   NULL|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

#changing the Schema of the Dataframe from the Source or from the file

In [122]:
from pyspark.sql.types import (StructField,StringType,IntegerType,StructType)
from pyspark.sql.functions import lit , when

In [63]:
#we are decalring a variable with structFiled of int and string for the age and Name
dataschema =[StructField('age',IntegerType(),True),StructField('name',StringType(),True)]

#data_schema = [StructField("age", IntegerType(), True),StructField("name", StringType(), True)]

In [64]:
#we are making in the strucType for the datascheme which is a structfiled
final_struct=StructType(fields=dataschema)
#final_struc = StructType(fields=data_schema)

In [65]:
df_changed=spark.read.json('people.json',schema=final_struct)
#df = spark.read.json('people.json', schema=final_struc)

In [67]:
df_changed.printSchema()
#df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [68]:
df_changed.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [69]:
#grabing a data from a column

In [116]:
df_changed['age']

Column<'age'>

In [79]:
type(df_changed['age'])

pyspark.sql.column.Column

In [80]:
df_changed.select('age').show() # only gives us the result of the age column

+----+
| age|
+----+
|NULL|
|  30|
|  19|
+----+

In [84]:
type(df_changed.select('age'))

pyspark.sql.dataframe.DataFrame

In [88]:
df_changed.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [89]:
df_changed.head(2)[0]

Row(age=None, name='Michael')

In [98]:
df_changed.withColumn("sample",df_changed['age']).show()

+----+-------+------+
| age|   name|sample|
+----+-------+------+
|NULL|Michael|  NULL|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [109]:
values_dept=["IT","Compsci","BIology"]

In [125]:
adding_col=df_changed.withColumn("Dept",
                       when(df_changed.age.isNull(), lit(values_dept[0]))
    .when(df_changed.age == 30, lit(values_dept[1]))
    .when(df_changed.age == 19, lit(values_dept[2])))

In [126]:
adding_col.show()

+----+-------+-------+
| age|   name|   Dept|
+----+-------+-------+
|NULL|Michael|     IT|
|  30|   Andy|Compsci|
|  19| Justin|BIology|
+----+-------+-------+

In [127]:
df_changed.withColumn("double_age",df_changed['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|NULL|Michael|      NULL|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [128]:
adding_col.withColumnRenamed('age','my_new_age').show()

+----------+-------+-------+
|my_new_age|   name|   Dept|
+----------+-------+-------+
|      NULL|Michael|     IT|
|        30|   Andy|Compsci|
|        19| Justin|BIology|
+----------+-------+-------+

In [129]:
df=adding_col

In [130]:
df.createOrReplaceTempView('people')  # creates Dataframe to the view here we are creadting the view named people with df dataframe

In [132]:
RESULTS=spark.sql("select * from people")

In [133]:
RESULTS.show()

+----+-------+-------+
| age|   name|   Dept|
+----+-------+-------+
|NULL|Michael|     IT|
|  30|   Andy|Compsci|
|  19| Justin|BIology|
+----+-------+-------+

In [139]:
new_result=spark.sql("select * from people where age =30")

In [140]:
new_result.show()

+---+----+-------+
|age|name|   Dept|
+---+----+-------+
| 30|Andy|Compsci|
+---+----+-------+