Missingdata

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder\
        .appName("groupbyandaggregate")\
        .getOrCreate()
spark

In [3]:
df=spark.read.csv("ContainsNull.csv",inferSchema=True,header=True)

In [4]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| NULL|
|emp2| NULL| NULL|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [5]:
df.na.drop().show()# its going to drop the values of the nulls with its rows

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [9]:
df.na.drop(thresh=2).show() #means row which as equal or more than 2n ull value it will delete that row

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| NULL|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [10]:
df.na.drop(how='any').show() #means row which as the null will be deletd

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [12]:
df.na.drop(how='all').show() #means row which as everything is null in it it will be deleted , since we dont have any row with full null so it gives the same result

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| NULL|
|emp2| NULL| NULL|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [14]:
df.na.drop(subset=['Sales']).show() #if any null values in eh Sales Column it will be deleted

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

Filling the Missing Values

In [18]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sales: double (nullable = true)

In [21]:
df.na.fill('FillValue').show() #it fill the 'Fill Value' in the String Data Type (Name) , thats why Sales column doesnt applied with fill value

+----+---------+-----+
|  Id|     Name|Sales|
+----+---------+-----+
|emp1|     John| NULL|
|emp2|FillValue| NULL|
|emp3|FillValue|345.0|
|emp4|    Cindy|456.0|
+----+---------+-----+

In [22]:
df.na.fill(123).show() # now we are passign the double in the fill function it fill the 123 in the double Data Type (Name) , thats why Name column doesnt applied with fill value

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|123.0|
|emp2| NULL|123.0|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [24]:
df.na.fill('Fill a value',subset=['Name']).show() #mentioning the subset because fill replaces all the string datatype column which as null values in it

+----+------------+-----+
|  Id|        Name|Sales|
+----+------------+-----+
|emp1|        John| NULL|
|emp2|Fill a value| NULL|
|emp3|Fill a value|345.0|
|emp4|       Cindy|456.0|
+----+------------+-----+

Filling a Null values with mean values

In [25]:
from pyspark.sql.functions import mean

In [26]:
mean_value=df.select(mean(df['Sales'])).collect()

In [27]:
mean_value

[Row(avg(Sales)=400.5)]

In [28]:
mean_value[0]

Row(avg(Sales)=400.5)

In [43]:
mean_value[0][0]

400.5

In [45]:
mean_sales=mean_value[0][0]

In [50]:
print(mean_sales)

400.5

In [48]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| NULL|
|emp2| NULL| NULL|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [49]:
df.na.fill(mean_sales,['Sales']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| NULL|400.5|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [54]:
#one line print
df.na.fill(df.select(mean(df['Sales'])).collect()[0][0],['Sales']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| NULL|400.5|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+